/* Navigation Bar */


#latitude {
    background-color: green;
    margin-left: 0px;
    font-size: 30px;

}

#main {

    padding-top: 60px;
    padding-left: 60px;
}

#fig_caption_1 {
    /* max-width: 60px; */

    /* text-align: right */
}

#image_1 {
    /* background-color: blueviolet; */
    /* padding-top: 60px; */
}

#summary_header {
    padding-top: 20 px;
    padding-bottom: 20px;
}

#summary {
    background-color: rgb(0, 255, 47);
    /* max-width: 600px; */
}

#visualization {
    padding-top: 20 px;
    padding-bottom: 20px;
    background-color: blanchedalmond;
}

#f1 {

    border-style:groove ;
}


